venv/
venv-wsl/
__pycache__/
*.duckdb
data/raw/
logs/
target/
*.log
airflow/airflow.cfg
airflow/webserver_config.py
airflow/standalone_admin_password.txt
airflow/airflow.db
.env
*.pyc
airflow/airflow.db-journal
airflow/airflow-webserver.*
.user.yml
